apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: integration-suite-test-component-git-source-ccoe
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: integration-suite-test-component-git-source-ccoe
    app.kubernetes.io/part-of: integ-app-ckom
  name: integration-suite-test-component-git-source-ccoe
  namespace: integration-e2e-qyrd
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: integration-suite-test-component-git-source-ccoe
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: integration-suite-test-component-git-source-ccoe
    spec:
      containers:
      - image: quay.io/psturc/test-images:030561c478bf4dde986ce813b471be1d
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources: {}
status: {}
